<div class="row">
<header class="header col-xm-12 col-md-12 col-lg-12">
 MIRACOLO
</header>

<h1 style="margin-left:70px;" class=" col-xm-12 col-md-12 col-lg-12">New User</h1>
</div>
<%= render 'form', user: @user %>
<div class="field">
<%= link_to 'Back', users_path %>
</div>