<header>
    MIRACOLO
</header>
<h1 style="margin-left:50px;">Edit Dream</h1></h1>

<%= render 'form', main_obj: @main_obj %>

<div class="actions">
    <%= link_to 'Show', @main_obj %>|<%= link_to 'Back', main_objs_path %>
    </div>
