header{
height:60px;
text-align: center;
font-size: 50px;
background-color: white;
}

.col-md-9{
  max-height: 700px;
  height:700px;
  background-color: #e6e6e6;
}
.target{
  width:400px;
  height:50px;
 background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 2px;
  border-radius : 11px;
  -moz-border-radius : 11px;
  -webkit-border-radius : 11px;
   margin-top: 100px;
   margin-left: 290px; 
   font-size: 30px;
}
.p{
  text-align: center;
  position: absolute;
  float: left;
  width: 500px;
  margin-left: 250px;
  margin-top: 80px;
  font-family : 平成丸ゴシック Std;
  font-size : 13px;
  color : #CCCCCC;
  color : rgb(204, 204, 204);

}
.u{
  text-align: center;
  float:left;
   width: 500px;
  position: absolute;
  margin-left: 250px;
  font-family : 平成丸ゴシック Std;
  font-size : 13px;
  color : #CCCCCC;
  color : rgb(204, 204, 204);

}
.w{
  text-align: center;
  float: left;
   width: 500px;
  position: absolute;
  margin-left: 250px;
  font-family : 平成丸ゴシック Std;
  font-size : 13px;
  color : #CCCCCC;
  color : rgb(204, 204, 204);

}
.m{
  margin-left:550px;
  bottom: 380px;
  float: left;
  
}
.d{
  margin-left:550px;
  bottom: 290px;
  float: left;
}
.concreat{
  width:400px;
  height:75px;
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 2px;
  border-radius : 11px;
  -moz-border-radius : 11px;
  -webkit-border-radius : 11px;
   margin-top: 20px;
   margin-left: 290px; 
   font-size: 20px;
}
.month{
  width:100px;
  height:50px;
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 2px;
  border-radius : 11px;
  -moz-border-radius : 11px;
  -webkit-border-radius : 11px;
  float: left;
  margin-top:20px;
   margin-left:450px; 
   font-size: 30px;
}
.day{
  width:100px;
  height:50px;
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  border-width : 2px;
  border-radius : 11px;
  -moz-border-radius : 11px;
  -webkit-border-radius : 11px;
  float: left;
   margin-left:450px; 
   margin-top: 20px;
   font-size: 30px;
}
.save{
  width:33px;
  height:25px;
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #000000;
  border-color : rgba(0, 0, 0, 1);
  float: left;
  top:500px;
  left:300px;
  position: absolute;
}
.col-sm-3{
  
  background: #e6e6e6;

}
.menu1{
  width:250px;
  height:80px;
  background-color: white;
 margin-top:110px;
  border-radius: 20px;
  margin-left: 34px;
  text-align: center;
  box-shadow: 0px 30px 10px -10px #999999;
  position: absolute;
}
.menu2{
  width:250px;
  height:80px;
  background-color: white;
  margin-top:210px;
  border-radius: 20px;
   margin-left: 34px;
     text-align: center;
     box-shadow: 0px 30px 10px -10px #999999;
   position: absolute;
}
.menu3{
  width:250px;
  height:80px;
  border-radius: 20px;
  background-color: white;
  margin-top:310px;
  box-shadow: 0px 30px 10px -10px #999999;
   margin-left: 34px;
   text-align: center;
   position: absolute;
}